<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /oesekirke/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /oesekirke/index.php [L]
</IfModule>
